pkg/**
tmp/**
common/__pycache__/**
input/nram/**
logs/**
env.sh
input/default.yaml
.claude/**
.gitignore
input/yaml/**/*.yaml
!input/sample/
CLAUDE.md
local/**
run.out
venv
.dev/**
pkg/**
tmp/**
logs/**
*/__pycache__/**
.DS_Store
_github
