pkg/**
tmp/**
common/__pycache__/**
input/nram/**
logs/**
env.sh
input/default.yaml
.claude/settings.local.json
.gitignore
input/yaml/**/*.yaml
!input/sample/
CLAUDE.md
local/**
run.out
venv
.dev/**
pkg/**
tmp/**
logs/**
