# Required Python packages for Solace PubSub+ automation
# nram, Solace

# Installing: 
#     pip install -r requirements.txt
# Checking: 
#     python -c 'import requests, yaml'

#
# Required packages (used by scripts and common modules)
#
requests>=2.25.1
PyYAML>=5.4.1

